.body {
    cursor: url(../img/cursor2.cur), auto;
}

.menu {
    background-color: #1f1f56;
    display: flex;
    justify-content: space-between;
}

.menu-info {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-align: left;
}

.link li,
link a {
    text-decoration: none;
    list-style: none;
    color: #b1b1d2;
    font-family: Arial, sans-serif;
    cursor: url(../img/cursor3.cur), auto;
}

.link a {
    text-decoration: none;
    list-style: none;
    color: #b1b1d2;
    font-family: Arial, sans-serif;
    padding-right: 25px;
    font-size: 14px;
}

.link ul {
    padding: 0;
}

.link li:hover>a {
    color: #fd8300;
}

.menu ul {
    display: flex;
}

.menu {
    margin: -10px -10px 0px -10px;
}

.icons {
    text-align: right;
}

.tw {
    padding: 2px 0 0 0 ;
}

.icons li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 25px;
    cursor: url(../img/cursor3.cur), auto;
}

.main-info {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    padding-bottom: 30px;
    padding-top: 30px;
}

.logo img {
    cursor: url(../img/cursor3.cur), auto;
}

.contacts {
    padding-top: 35px;
    display: flex;
}

.contacts img {
    padding-right: 10px;
}

.contacts li {
    list-style: none;
    padding: 0 0 12px 0;
}

.contacts ul {
    margin: 0;
    padding-left: 0;
}

.contacts a {
    color: #25252c;
    font-size: 18px;
    text-decoration: none;
    cursor: url(../img/cursor3.cur), auto;
}

.contacts a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.vertical-line {
    display: inline;
    height: 51px;
    border-left: 1px solid #e4e4ec;
    margin-top: 31px;
}

.poshta ul {
    padding: 0;
}

.poshta {
    padding-bottom: 30px;
    padding-top: 35px;
    line-height: 1.3em;
}

.poshta img {
    padding-right: 10px;
}

.poshta li {
    padding: 0 0 12px 0;
}

.poshta ul {
    list-style: none;
    margin: 0;
}

.poshta a {
    color: #25252c;
    text-decoration: none;
    cursor: url(../img/cursor3.cur), auto;
}

.poshta a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.button-call a {
    border: 2px solid #fd8300;
    border-radius: 30px;
    background-color: #ffffff;
    text-decoration: none;
    color: #25252c;
    max-height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-call {
    padding-top: 50px;
    cursor: url(../img/cursor3.cur), auto;
}

.button-call a {
    color: #25252c;
}

.button-call a:hover {
    background-color: #fd8300;
}

.picture {
    text-align: center;
    background-image: url(../img/Rectangle\ 9.png);
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0 -10px 0 -10px;
    background-size: cover;
}

.month {
    font-size: 30px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.month b {
    font-family: "RobotoSlab";
}

.month {
    font-family: "Roboto Slab";
}

.pid-klych {
    font-size: 14px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.how-much {
    font-size: 40px;
    margin: 0 auto;
    color: #fd8300;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 23px;
}

.main-info {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.main-text h1 {
    font-size: 30px;
    color: #24242b;
    margin: 0;
    font-family: "RobotoSlab";
}

.main-text p {
    font-size: 14px;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

.main-text article {
    max-width: 670px;
}

.main-text a {
    color: #fd8300;
}

.main-text ul {
    padding: 0;
}

.main-text li {
    list-style-type: none;
}

.main-text a {
    cursor: url(../img/cursor3.cur), auto;
    font-family: Arial, Helvetica, sans-serif;
}

.main-text a:hover {
    color: #666;
}

.main-text li:hover {
    text-decoration: none;
}

.line {
    margin: 22px 0 15px;
    border-bottom: 1px solid #e4e4ec;
}

.main-menu {
    padding: 0 0 0 27px;
}

.main-menu p {
    margin: 0;
    padding: 11px 15px;
    width: 190px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Slab";
    line-height: 24px;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
    font-family: "RobotoSlab";
}

.main-menu a {
    font-family: Arial, Helvetica, sans-serif;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-li {
    padding: 0 15px;
    background-color: #e4e4ec;
    box-shadow: inset 0px -1px 0px #cecedd;
    cursor: url(../img/cursor3.cur), auto;
}

.main-li:last-child {
    box-shadow: none;
    border-radius: 0 0 3px 3px;
}

.main-li:hover {
    background-color: #fd8300;
    cursor: url(../img/cursor-poin.cur), auto;
}

.main-li:hover .sub-menu {
    display: block;
}

.main-li:hover .main-headerline {
    color: #fff;
    cursor: url(../img/cursor-poin.cur), auto;
}

.main-headerline {
    display: block;
    position: relative;
    padding: 11px 0;
    color: #25252c;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    transition: .5s ease all;
    cursor: url(../img/cursor3.cur), auto;
}

.main-headerline::before {
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    width: 7px;
    height: 7px;
    box-sizing: border-box;
    border: 3px solid #666;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    transition: 1s ease all;
}

.main-li:hover .main-headerline::before {
    border: 3px solid #fff;
    border-right: none;
    border-top: none;
}

.sub-menu {
    display: none;
}

.sub-menu li {
    margin: 0 -15px;
    padding: 11px 15px 11px 30px;
    background-color: #e4e4ec;
}

.sub-menu li:hover {
    background-color: #cecedd;
    cursor: url(../img/cursor-poin.cur), auto;
}

.sub-menu a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    cursor: url(../img/cursor-poin.cur), auto;
}
.category {
    background-color: #1f1f56;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 13px;
    color: #fff;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.popular-project h2 {
    color: #24242b;
    font-family: "RobotoSlab";
}

.house {
    display: flex;
    padding-bottom: 45px;
}

.montreal,
.galgary,
.edmont {
    max-width: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.montreal img,
.galgary img,
.edmont img {
    cursor: url(../img/cursor3.cur), auto;
}

.edmont h4,
.galgary h4,
.montreal h4 {
    cursor: url(../img/cursor3.cur), auto;
    color: #1f1f56;
}

.edmont p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.edmont h4:hover {
    text-decoration: underline;
}

.montreal p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.montreal h4:hover {
    text-decoration: underline;
}

.galgary p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.galgary h4:hover {
    text-decoration: underline;
}

.montreal {
    padding-left: 28px;
}

.galgary {
    padding-left: 28px;
}

.shape2 {
    padding-left: px;
}

.footer {
    background-color: #ededf5;
    display: flex;
    margin: 0 -10px;
}

.footer a {
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    line-height: 1.4em;
}

.footer ul {
    padding-top: 40px;
    margin: 0;
    padding-bottom: 30px;
    padding-left: 0;
}

.footer-2ul {
    padding-bottom: 55px;
}


.footer li:hover>a {
    color: #fd8300;
}

.footer-ul {
    padding-left: 120px;
    padding-bottom: 30px;
}

.footer-ul a {
    color: #666;
}

.footer-2ul a {
    color: #666;
}

.footer23 {
    max-width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pochta {
    padding-top: 40px;
}

.pochta a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.contact {
    padding-top: 40px;
}

.contact a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.pochta a {
    font-size: 16px;
}

.contact a {
    font-size: 18px;
}

.footer2 {
    background-color: #dcdce6;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    color: #9999a6;
    font-size: 13px;
    margin: 0 -10px;
}

.footer2 p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "RobotoSlab" ;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}