@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    cursor: url(../img/cursor2.cur), auto;
}

a {
    cursor: url(../img/cursor3.cur) ,auto;
}

sup {
    font-size: 0.6em;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}

a {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}

.column {
    width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}

.header-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}

.header li {
    display: inline-block;
    margin: 0 14px;
    
}

.menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all .5s ease;
}

.menu a:hover {
    color: #fd8300;
    cursor: url(../img/cursor3.cur) auto;
}

.social a {
    display: block;
    background: url(../img/sprite.png);
    transition: all .5s ease;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
}

a.fb:hover {
    background-position: 0 -2.25rem;
}

a.in {
    width: 19px;
    height: 19px;
    background-position: 12rem 0;
}

a.in:hover {
    background-position: 12rem -2.25rem;
}

a.tw {
    width: 20px;
    height: 16px;
    background-position: 6.3rem 0;
}

a.tw:hover {
    background-position: 6.3rem -2.25rem;
}

.contact-info {
    padding: 20px 0;
}

.phones,
.messengers {
    padding-left: 48px;
}

.phones p,
.messengers p {
    margin: 10px 0;
}

.messengers a {
    cursor: pointer;
}

.phones a {
    font: bold 18px/24px Arial;
    color: #25252c;
    text-decoration: none;
}

.phones a:hover {
    color: #fd8300;
}

.messengers a:hover {
    color: #fd8300;
}

.icon:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 1px;
}

.tel:before {
    width: 19px;
    height: 17px;
    background: url(../img/sprite.png)  -92px -1px;
}

.mail:before {
    width: 22px;
    height: 17px;
    background: url(../img/sprite.png)  -70.2px 0;
}

.skype:before {
    width: 20px;
    height: 21px;
    background: url(../img/sprite.png)  60px 0;
}

.stick {
    position: relative;
}

.stick:before {
    content: '';
    position: absolute;
    top: 16px;
    right: -22px;
    width: 1px;
    height: 49px;
    background-color: #e4e4ec;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}

.skype {
    text-decoration: none;
}

.cta {
    text-align: right;
}

.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .25s ease;
    cursor: url(../img/house-calgary.webp) auto;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;
}

.proposition {
    padding: 55px 0 35px;
    text-align: center;
    background: #19140f url(../img/picture.jpg) center/cover;
}

.proposition p {
    margin: 0;
}

.prop-title {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font: 700 30px "Roboto Slab";
}

p.prop-text {
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.prop-cost {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
}

.prop-cost span {
    font-size: 40px;
}

.main {
    padding: 35px 0 45px;
}

.main-with-aside {
    max-width: 713px;
}

.main-info h1,
.main-info h2 {
    color: #24242b;
    font-family: "Roboto Slab";
}

.main-info h1 {
    margin-top: 5px;
    font-size: 30px;
}

.main-info h2 {
    font-size: 24px;
}

.main-info a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}

.main-info a:hover {
    text-decoration: none;
}

.content p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.home {
    position: relative;
    margin: 0;
}

.home a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home a:hover ~ h3 {
    text-decoration: underline;
}

.home h3 {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
}

.home h3 span {
    text-transform: lowercase;
}

.home p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.sidebar {
    min-width: 219px;
}

.aside-menu {
    position: sticky;
    top: 35px;
    border-radius: 3px;
    overflow: hidden;
}

.aside-menu p {
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    background-color: #1f1f56;
}

.aside-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    background-color: #e4e4ec;
}

.aside-menu > ul > li + li > a {
    border-top: 1px solid #cdcddd;    
}

.aside-menu > ul > li:hover > a {
    color: #fff;
    background-color: #fd8300;
    cursor: url(../img/cursor3.cur), auto;
}

.aside-menu > ul > li > a:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    transition: all .5s ease;
}

.aside-menu > ul > li:hover > a:before {
    top: 16px;
    border-color: #fff;
    transform: rotate(45deg);
} 

.aside-menu li:hover .sub-menu {
    display: block; 

}

.sub-menu {
    display: none;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}

.sub-menu a:hover {
    background-color: #cecedd;
    cursor: url(../img/cursor3.cur) ,auto;
}

.footer {
    padding: 30px 0 20px;
    background-color: #ededf5;
}

.footer-menu {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    cursor: url(../img/pointer.png), auto;
}

.footer-menu a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.copy {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    background-color: #dcdce6;
}

.copy p {
    margin: 0;
    padding: 13.5px 0;
}