@font-face {
    font-family: "RobotoSlab";
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

.menu {
    background-color: #1f1f56;
    display: flex;
    justify-content: space-between;
}

.menu-info {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-align: left;
}

.link li,
link a {
    text-decoration: none;
    list-style: none;
    color: #b1b1d2;
    font-family: Arial, sans-serif;
    cursor: url(../img/cursor3.cur), auto;
}

.link a {
    text-decoration: none;
    list-style: none;
    color: #b1b1d2;
    font-family: Arial, sans-serif;
    padding-right: 25px;
    font-size: 14px;
}

.link ul {
    padding: 0;
    margin: 0;
}

.link li {
    padding-top: 25px;
    padding-bottom: 15px;
}

.link li:hover>a {
    color: #fd8300;
}

.menu ul {
    display: flex;
}

.menu {
    margin: -10px -10px 0px -10px;
}

.icons {
    text-align: right;
}

.icons ul {
    margin: 0;
    padding: 0;
}

.icons a {
    transition: 0.5s;
    display: block;
    background-image: url(../img/sprite.png);
}

a.fb {
    width: 10px;
    height: 19px;
}

a.tw {
    background-position: 6.3rem 0;
    width: 18px;
    height: 15px;
}

a.inst {
    background-position: 12rem 0;
    width: 19px;
    height: 19px;
}

a.fb:hover {
    background-position: 0 -2.25rem;
}

a.tw:hover {
    background-position: 6.3rem -2.25rem;
}

a.inst:hover {
    background-position: 12rem -2.25rem;
}

.icons li {
    padding-top: 25px;
    padding-bottom: 15px;
}

.tw {
    padding: 2px 0 0 0;
}

.icons li {
    list-style-type: none;
    text-decoration: none;
    padding-left: 25px;
    cursor: url(../img/cursor3.cur), auto;
}

.main-info {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    padding-bottom: 30px;
    padding-top: 30px;
}

.logo img {
    cursor: url(../img/cursor3.cur), auto;
}

.contacts {
    padding-top: 35px;
    display: flex;
}

.contacts img {
    padding-right: 10px;
}

.contacts li {
    list-style: none;
    padding: 0 0 12px 0;
}

.contacts ul {
    margin: 0;
    padding-left: 0;
}

.contacts a {
    color: #25252c;
    font-size: 18px;
    text-decoration: none;
    cursor: url(../img/cursor3.cur), auto;
}

.contacts a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.vertical-line {
    padding-top: 5px;
    display: inline;
    height: 52px;
    border-left: 1px solid #e4e4ec;
    margin-top: 31px;
}

.poshta ul {
    padding: 0;
}

.poshta {
    padding-bottom: 30px;
    padding-top: 35px;
    line-height: 1.3em;
}

.poshta img {
    padding-right: 10px;
}

.poshta li {
    padding: 0 0 12px 0;
}

.poshta ul {
    list-style: none;
    margin: 0;
}

.poshta a {
    color: #25252c;
    text-decoration: none;
    cursor: url(../img/cursor3.cur), auto;
}

.poshta a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.button-call a {
    border: 2px solid #fd8300;
    border-radius: 30px;
    background-color: #ffffff;
    text-decoration: none;
    color: #25252c;
    max-height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-call {
    padding-top: 50px;
    cursor: url(../img/cursor3.cur), auto;
}

.button-call a {
    color: #25252c;
}

.button-call a:hover {
    background-color: #fd8300;
}

.main h1{
    font-family: "RobotoSlab";
    font-size: 24px;
    color: 24242b;
    margin: 20px 0 20px 0;
}

.main p {
    line-height: 1.7em;
    margin: 0;
    font-size: 14px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}

#peshka {
    padding: 0 0 20px 0;
}

#peshka1 {
    padding: 25px 0 0 0;
}

.main ul {
    margin: 0;
    padding: 0;
    padding-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul:after {
    content: "";
    border-bottom: 1px solid #e4e4ec;
}

.main a:hover {
    text-decoration: none;
    color:#666 ;
}

.main li {
    list-style: none;
}

.main a {
    color: #fd8300;
}

.line {
    margin: 32px 0 30px 0;
    border-bottom: 1px solid #e4e4ec;
}

table {
    border-collapse: collapse;
}

.table_head {
    color: #fff;
    background-color: #1f1f56;
    font-family: "RobotoSlab";
}

.table_head th {
    font-size: 14px;
    max-width:110px;
}

.tbody tr {
    font-size: 14px;
    color: #666;
    font-family:Arial, Helvetica, sans-serif ;
}

.tbody tr {
    background-color: #e4e4ec;
}

.tbody tr {
    border-top: 1px solid #cdcddd;
}

.tbody tr:hover {
    color: #fff;
    background-color: #fd8300;
}

.tbody td tr:hover {
    color: #fff;
}

.main {
    max-width: 960px;
    margin: 0 auto;
}

.table {
    max-width: 960px;
    width: 100%;
}

#cat1 {
    text-align: left;
    padding-left:20px ;
}

.table th {
    padding: 13px 0 13px 20px;
}

.tbody td {
    padding: 14px 0 14px 20px;
}

#cat2 {
    text-align: left;
}

#cat3 {
    text-align: left;
}

#cat4 {
    text-align: left;
}

#cat5 {
    text-align: right;
    padding-right:20px ;
}

#cat6 {
    text-align: right;
    padding-right: 20px;
}

#cat7 {
    text-align: right;
    padding-right: 20px;
}

#cat8 {
    text-align: right;
    padding-right: 20px;
}

#cat9 {
    text-align: right;
    padding-right: 20px;
}

#cat10 {
    text-align: right;
    padding-right: 20px;
}

#cat11 {
    text-align: right;
    padding-right: 20px;
}

.popular-project {
    max-width: 960px;
    margin: 0 auto;
}

.popular-project figure {
    margin: 0;
}

.popular-project h2 {
    color: #24242b;
    font-family: "RobotoSlab";
}

.house {
    display: flex;
    padding-bottom: 45px;
}

.house small {
    font-size: 8px;
}

.montreal,
.galgary,
.edmont, 
.richmond {
    max-width: 220px;
    font-family: Arial, Helvetica, sans-serif;
}

.montreal img,
.galgary img,
.edmont img, 
.richmond img{
    cursor: url(../img/cursor3.cur), auto;
}

.edmont h4,
.galgary h4,
.montreal h4, 
.richmond h4{
    cursor: url(../img/cursor3.cur), auto;
    color: #1f1f56;
    margin: 0;
    padding: 12px 0 10px 0;
}

.house span {
    text-transform: uppercase;
}

.edmont p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.edmont h4:hover {
    text-decoration: underline;
}

.montreal p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.montreal h4:hover {
    text-decoration: underline;
}

.galgary p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.galgary h4:hover {
    text-decoration: underline;
}

.richmond p {
    color: #9999a6;
    font-size: 13px;
    margin: 0;
}

.richmond h4:hover {
    text-decoration: underline;
}

.montreal {
    padding-left: 28px;
}

.galgary {
    padding-left: 28px;
}

.richmond {
    padding-left: 28px;
}

.footer {
    background-color: #ededf5;
    display: flex;
    margin: 0 -10px;
}

.footer a {
    color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer li {
    list-style-type: none;
    line-height: 1.4em;
}

.footer ul {
    padding-top: 40px;
    margin: 0;
    padding-bottom: 30px;
    padding-left: 0;
}

.footer-2ul {
    padding-bottom: 55px;
}


.footer li:hover>a {
    color: #fd8300;
}

.footer-ul {
    padding-left: 120px;
    padding-bottom: 30px;
}

.footer-ul a {
    color: #666;
}

.footer-2ul a {
    color: #666;
}

.footer23 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pochta {
    padding-top: 40px;
}

.pochta li {
    padding: 0 0 12px 0;
}

.pochta ul {
    padding: 0;
}

.pochta picture {
    padding-right: 10px;
}

.pochta a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.contact {
    padding-top: 40px;
    display: flex;
}

.contact picture {
    padding-right: 10px;
}

.contact ul {
    padding: 0;
}

.contact a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.pochta a {
    font-size: 16px;
}

.contact a {
    font-size: 18px;
}

.contact li {
    padding: 0 0 12px 0;
}

.footer2 {
    background-color: #dcdce6;
    padding-top: 18px;
    padding-bottom: 15px;
    text-align: center;
    color: #9999a6;
    font-size: 13px;
    margin: 0 -10px;
}

.footer2 p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}